*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
.fs-20{
    font-size: 100px;
}

.fw-bolder{
    font-weight: bolder;
}
.team-name-body{
    display: block;
}
.team-card:hover .team-name-body{
    display: none;
}
.team-social-body{
    display: none;
}
.team-card:hover .team-social-body{
    display: block;
}

body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


.header{
    background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url("../img/new/customer-service-man-at-work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}
.header2{
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("../img/new/woman-asian-software-1024x682.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:max-content;
}
.discountpricebackground{
    background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url("../img/new/customer-service-man-at-work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:max-content;
}
/*text animation start here*/
.hidden{
    opacity:1;
    transform:translatey(10%);
    transition:all 1s;
}
.show{
    opacity:1;
    transform:translateY(0);
    transition:all 1s;
}

.lineUp {
    animation: 2s anim-lineUp ease-out;
    transition: all ;
}
@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*text animation End here*/

.borders{
    border-left: 6px solid red;
    border-bottom: 6px solid red ;

}

body {
    margin: 0;
    padding:0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}
.mainmenu:hover{
    color:black;
    background-color: #9eeaf9;
}
.bg-navyblue{
    background-color: #1F1F2E;
}
.bg-beguni{
    background-color: #7A0063;
}
.text-beguni{
    color: #7A0063;
}
.text-orange{
    color: #FF4800 !important;
}

.bg-orange{
    background-color:#FF4800 ;
}
.logo{
    position: relative;
    left: 70px;
}
.fs-7{
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
}
.fs-9{
    font-size: 40px;
    font-weight: bold;
}
.fs-8{
    font-size: 80px;
    font-weight: bold;
}
.fw-bolder{
    font-weight: bold;
}
.fw-600{
    font-weight: 600;
}

.menu{
    font-family: Gilroy-Bold;
    font-size: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28000, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.card-margin{
    margin-top:200px;
}
.card-margin-100{
    margin-top:100px;
}
.margintop-200{
    margin-top:210px;
}
.card-margin-bottom{
    margin-bottom:100px;
}

.rounded-corner{
    border-radius: 40px;
}
.rounded-corner-10{
    border-radius: 10px;
}
.card-shadow{
    box-shadow: 2px 2px 10px 0;
}
.btn-shadow{
    box-shadow: 1px 1px 5px 0;
}


.footer1{
    border-radius: 15px;
    border: 1px solid #FED500;
    background: #FED500;
}

/*header Animation Start here*/
.animation{
    animation-name: gallery;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;


}
@keyframes gallery {
    0%{
        background-image: repeating-linear-gradient(to right,rgba(1,0,0,0.6),rgba(1,0,0,0.6)),url("../img/new/african-american-man-with-headphone-on-watching-movie-on-streaming-services.jpg");
        transition: all 1s;
    }
    25%{
        background-image:  repeating-linear-gradient(to right,rgba(1,0,0,0.6),rgba(1,0,0,0.6)),url("../img/new/customer-service-man-at-work.jpg");
        transition: all 1s;
    }
    50%{
        background-image:  repeating-linear-gradient(to right,rgba(1,0,0,0.6),rgba(1,0,0,0.6)),url("../img/new/african-american-coder-employee-programming-business-code-1-q19rp0mvwshyewds7d12lqr7dzauwq0vz8ry0jr2cg.jpg");
        transition: all 1s;
    }
    75%{
        background-image:  repeating-linear-gradient(to right,rgba(1,0,0,0.6),rgba(1,0,0,0.6)),url("../img/new/woman-asian-software-1024x682.jpg");
        transition: all 1s;
    }
    100%{
        background-image: repeating-linear-gradient(to right,rgba(1,0,0,0.6),rgba(1,0,0,0.6)),url("../img/new/man-using-post-production-software-1024x682.jpg");
        transition: all 1s;
    }


}

/*Swiper Section Start here*/
.swiper {
    width: 100% ;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Hover Section Start Here*/
.cardhover:hover{
    box-shadow: 4px 4px 10px 0;
    transform: scale(1.009);
    transition:0.4s;

}
.cardhover2:hover{
    transform: scale(0.97);
    transition:0.4s;
}
.btnhover:hover{
    transform: translate(12px);
    transition:0.4s;
    color : black;
}
.btnhover2:hover{
    transform: translateY(-10px);
    transition:0.4s;
}
.btnhover3:hover{
    transform: translate(5px);
    background-color: black;
    transition:0.4s;

}
.btnhover1:hover{
    transform: translate(5px);
    transition:0.4s;

}
.aboutprojecthover:hover{
    background-color: #7A0063;
    color: white;
    transition:0.7s;
}

